<%- include('partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            CLIENTES
        </div>
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <th>NOME</th>
                        <th>CPF</th>
                        <th>ENDEREÇO</th>
                    </tr>
                </thead>
                <tbody>
                    <% clients.forEach(client=> { %>
                        <tr>
                            <td>imagem</td>
                            <td><%= client.nome %></td>
                            <td><%= client.cpf %></td>
                            <td><%= client.endereco %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%-  include('partials/footer.ejs')%>