<%- include ('partials/navbar.ejs') %>

<div>
    <h1>Lista de Clientes</h1>
        <table border="1">
            <tr>
                <th>CLIENTES</th>
            </tr>
            <tr>
                <th width="200px" >Nome</th>
                <th width="200px">CPF</th>
                <th width="200px">Endereço</th>
            </tr>
            <tr>
                <% client.forEach((client) => { %>
                    <td><%= client.nome %></td>
                    <td><%= client.cpf %></td>
                    <td><%= client.endereco %></td>
                <% }) %>
            </tr>
        </table>
</div>

<%- include ('partials/footer.ejs') %>